.azonix{
	font-family: 'Azonix', serif
}
.raleway{
	font-family: 'Raleway', serif
}
@font-face {
	font-family: 'Azonix';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Azonix.woff2') format('woff2');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Raleway.woff2') format('woff2');
}
.bx--content{
	background-color: var(--cds-background) !important;
}