// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
.azonix{
  font-family: 'Azonix', serif
}
.raleway{
  font-family: 'Raleway', serif
}
@font-face {
  font-family: 'Azonix';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Azonix.woff2') format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/Raleway.woff2') format('woff2');
}
.bx--content{
  background-color: var(--cds-background) !important;
}
.site-container{
  @extend .container;
  padding-top: 60px;
}
.large{
  font-size: 50pt;
}